:root {
  --primaryColor: #bb86fc;
  --playerColor: #03dac6;
  --secondLayer: rgba(255, 255, 255, 0.08);
  --darkBackground: #121212;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: white;
  overflow: auto;
  font-size: 0.75vmin;
}

div {
  display: block;
}

#viewport {
  height: 100%;
  width: 100%;
  background-color: var(--darkBackground);
  top: 0;
  z-index: 1;
}

#header {
  height: 3.5rem;
  background-color: var(--secondLayer);
  z-index: 2;
  width: 100%;
}

#headerContent {
  display: flex;
  justify-content: space-between;
  vertical-align: center;
  font-size: 3.5rem;
  z-index: 3;
}

.headerLink {
  color: var(--primaryColor);
  margin: 0 2%;
}

a {
  margin: 0;
  text-decoration: none;
}

p {
  margin: 0;
}

#content {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Play Area ------------------------------------------------------------------*/

#playArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  min-height: 95%;
}

#playSpacing {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  height: 100%;
}

#computerChoice {
  margin-bottom: 8%;
  margin-top: 2%;
}

#playerChoice {
  margin-top: 8%;
  margin-bottom: 2%;
}

.moveSelection {
  display: flex;
  justify-content: center;
  height: 100%;
}

.computerHand {
  color: var(--primaryColor);
  transform: rotate(180deg);
}

.playerHand {
  color: var(--playerColor);
}

.hand {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
  width: 30%;
  font-size: 20rem;
}

.fa-hand-rock {
  margin-top: 8%;
}

/* Score Area -----------------------------------------------------------------*/

#scoreArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 95%;
  width: 40%;
  padding-left: 3%;
  font-size: 1.5rem;
}

#infoBox {
  z-index: 2;
  flex: 4;
  background-color: var(--secondLayer);
  padding: 4%;
  min-height: 80%;
  font-size: 3.5rem;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-style: solid;
  border-width: 1rem;
  border-color: var(--secondLayer);
  min-height: 10%;
  margin: 2% 0;
  padding: 5%;
  font-size: 7rem;
}
